header nav {
  display: flex;
  justify-content: space-between;
}

.bg-image {
  background-size: cover;
}

button {
  width: 50%;
  border-radius: 4px;
  background-color: rgb(64, 224, 208, 0.2);
  border: none;
  color: black;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/* #go-back button {
  width: 50%;
  border-radius: 4px;
  background-color: rgb(64, 224, 208, 0.2);
  border: none;
  color: black;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

#go-back button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#go-back button span:before {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#go-back button:hover span {
  padding-right: 25px;
}

#go-back button:hover span:before {
  opacity: 1;
  right: 0;
} */

#correct-wrong {
  background-color: rgb(64, 224, 208, 0.5);
}

a {
  text-decoration: none;
}

section {
  text-align: center;
  list-style-position: inside;
  padding: 150px;
}

.hide {
  display: none;
}
